<p id="success-box" class="toaster bg-success" ></p>
<p id="danger-box" class="toaster bg-danger" ></p>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<h1>List of Contacts</h1>
		<%= link_to "New contact", root_path, class: "btn btn-default" %>
		<%= link_to "Show all results", "/contacts", class: "btn btn-default", style: "float:right;" %>
		<br />
		<br />
		<table id="hide" class="table table-striped">
			<tr>
				<td><strong>Name</strong></td>
				<td><strong>Email</strong></td>
				<td><strong>Age</strong></td>
				<td><strong>State</strong></td>
				<td><strong>Job</strong></td>
				<td><strong>Options</strong></td>
			</tr>
			<% @contacts.each do |contact| %>
			<tr>
				<td><%= contact.name %></td>
				<td><%= contact.email %></td>
				<td><%= contact.age %></td>
				<td><%= contact.state %></td>
				<td><%= contact.job %></td>
				<td><%= link_to "Edit", edit_contact_path(contact) %> |
				<%= link_to "Delete", contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</table> 	
  	</div>
  <div class="col-xs-6 col-md-4">
  <h1>Filter</h1>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#filter_list_tab" aria-controls="home" role="tab" data-toggle="tab">List</a></li>
		<li role="presentation"><a href="#filter_create_tab" aria-controls="profile" role="tab" data-toggle="tab">Create</a></li>
	</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="filter_list_tab">
		<br />
	</div>
    <div role="tabpanel" class="tab-pane" id="filter_create_tab">
    	<br/>
    	<%= form_tag("/filters", method: "post") do %>
		<%= label_tag(:filter_name) %>:<br />
		<%= text_field_tag(:filter_name, "", :id => "filter_name") %><br />
		<%= label_tag(:operator) %>:
		<input type="radio" name="operator", value="and" checked>E
		<input type="radio" name="operator", value="or">OU
		<br/>
		<%= label_tag(:search) %>:<br />
		<div id="filter_result">
		</div><br />
		<%= link_to "Idade", "#", id:"show_age_box",  class: "btn btn-default" %>
		<%= link_to "Estado", "#", id:"show_state_box", class: "btn btn-default" %>
		<%= link_to "Cargo", "#", id:"show_job_box", class: "btn btn-default" %>
		<div id="age_box" class="hidden">
			<%= label_tag(:idade) %><br />
			<%= select_tag(:age_filter, options_for_select([["igual a",0], ["maior que",1],["maior ou igual a",2],["menor que",3], ["menor ou igual a",4], ["entre", 5]])) %>
			<%= text_field_tag(:age, "", :id => "age") %>
			<%= label_tag(:-, "", id: "between", style:"display:none") %>
			<%= text_field_tag(:age2, "", :id => "age2", style:"display:none") %><br />
		</div>
		<div id="state_box" class="hidden">
			<%= label_tag(:estado) %><br />
			<%= text_field_tag(:state, "", :id => "state") %><br />
		</div>
		<div id="job_box" class="hidden">
			<%= label_tag(:cargo) %><br />
			<%= text_field_tag(:job, "", :id => "job") %>
		</div>
		<br />
		<div id="filter_actions" class="hidden">
			<%= link_to "Add to filter", "#", id:"add_to_filter", class: "btn btn-default" %>
			<%= link_to "Clear the filter", "#", id:"clear_the_filter", class: "btn btn-default" %>
		</div>
		<br />
		<%= link_to "Save Filter", "#", id:"save_filter", class: "btn btn-primary" %>

		<% end %>
		<br />
    </div>
  </div>

</div>

<script>
	var filter_list_time;
	var ruby_query = []
	var filter_number = 0

	$(function () {
		reload_filter_list()
		timer_filter_list()
	});

	function timer_filter_list() {
		filter_list_time = setInterval(reload_filter_list, 1000*3);
	}

	function reload_filter_list() {
		url = "/filters"
		$.ajax({
			type: "GET",
			url: url,
			success: function(data){
				parse = JSON.parse(data)
				if (parse.length != filter_number) {
					console.log("UPDATE!")
					set_filter_list(parse);
					filter_number = parse.length
				}
			},
			error: function(e){
				console.log(e);
			},
		});
	};

	function set_filter_list(data) {
		var filter_list = document.getElementById("filter_list_tab")
		filter_list.innerHTML = "<br /><table id='filter_table'>"
		filter_table = document.getElementById("filter_table")
		for(var i = 0; i < data.length; i++) {
			var id = data[i]['id']
			var name = data[i]['name']
			var query = data[i]['query'] 
			row = filter_table.insertRow(i);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			cell1.innerHTML = "<a href='/contacts?query="+encodeURIComponent(query)+"'>"+name+"</a>"
			cell2_id = "filter_"+id
			cell2.innerHTML = "<a href='#' id='"+cell2_id+"' style='margin-left:20px;' onClick><span class='remove-filter glyphicon glyphicon-remove'></span></a>"

			$("#"+cell2_id).click(function(e) {
				cell_id = e.currentTarget.id
				remove_filter(cell_id.replace("filter_",""))
			});
		}
	};

	function remove_filter(id) {
		url = "/filters/"+id
		$.ajax({
  			type: "DELETE",
			url: url,
  			success: function(data){
  				reload_filter_list()
  				success_msg("Filtro removido!")
  			},
  			error: function(e){
  				error_msg(e.responseText)
  			},
		});
	};

	$("#search").click(function() {
		operator = $("input[type='radio'][name='operator']:checked").val();
		json = JSON.stringify(ruby_query)
		document.getElementById("search").href = "/contacts?operator="+operator+"&filter="+encodeURIComponent(json);
	});

	$("#save_filter").click(function() {
		name = $("#filter_name").val();
		operator = $("input[type='radio'][name='operator']:checked").val();
		json = JSON.stringify(ruby_query)
		url = "/filters";
		data = "name="+name+"&operator="+operator+"&filter="+encodeURIComponent(json)

		$.ajax({
  			type: "POST",
			url: url,
  			data: data,
  			success: function(data){
  				success_msg("Filtro criado!")
  			},
  			error: function(e){
  				error_msg(e.responseText)
  			},
		});

	});

	function success_msg(msg) {
		document.getElementById("success-box").innerHTML = "<span>"+msg+"!</span>"
		jQuery("#success-box").fadeIn('slow');
		jQuery("#success-box").delay(2000).fadeOut('slow');
	};

	function error_msg(msg) {
		document.getElementById("danger-box").innerHTML = ""
		messages = JSON.parse(msg)
		for (var i=0; i < messages.length; i++) {
			document.getElementById("danger-box").innerHTML += "<span>"+messages[i]+"</span><br />"
		}
		jQuery("#danger-box").fadeIn('slow');
		jQuery("#danger-box").delay(3000).fadeOut('slow');
	};

	$('#list_filter a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	});


	$('#create_filter a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	});


	$("#age_filter").change(function() {
		if ($("#age_filter").val() == "5") {
			document.getElementById("between").style.display = "inline";
			document.getElementById("age2").style.display = "inline";
		} else {
			document.getElementById("between").style.display = "none";
			document.getElementById("age2").style.display = "none";
		};
	});

	$("#show_age_box").click(function() {
		hide_all_filters();
		document.getElementById("age_box").className = "inline";
		document.getElementById("filter_actions").className = "inline";
	});

	$("#show_state_box").click(function() {
		hide_all_filters();
		document.getElementById("state_box").className = "inline";
		document.getElementById("filter_actions").className = "inline";
	});

	$("#show_job_box").click(function() {
		hide_all_filters();
		document.getElementById("job_box").className = "inline";
		document.getElementById("filter_actions").className = "inline";
	});

	function hide_all_filters() {
		document.getElementById("age_box").className = "hidden";
		document.getElementById("state_box").className = "hidden";
		document.getElementById("job_box").className = "hidden";
		document.getElementById("filter_actions").className = "hidden";
	};

	$("#add_to_filter").click(function() {
		save_filter();
		clean_filter_fields();
	});

	function save_filter() {
		var age = document.getElementById("age").value;
		var state = document.getElementById("state").value;
		var job = document.getElementById("job").value;

		if (age != "") {
			var age_filter = $("#age_filter").val()
			var age_type = get_age_type()

			document.getElementById("filter_result").innerHTML += '<h4><span class="label label-primary">Idade '+age_type+' '+age+'</span></h4>';
			ruby_query.push({'age':age, 'age_filter':age_filter})

		} else if (state != "") {
			document.getElementById("filter_result").innerHTML += '<h4><span class="label label-primary">Estado = '+state+'</span></h4>';
			ruby_query.push({'state':state})
		} else if (job != "") {
			document.getElementById("filter_result").innerHTML += '<h4><span class="label label-primary">Cargo = '+job+'</span></h4>';
			ruby_query.push({'job':job})
		}
	}

	function get_age_type() {
		var age_filter = $("#age_filter").val();
		switch(age_filter) {
			case '0':
				age_type = "igual a"
				break;
			case '1':
				age_type = "maior que"
				break;
			case '2':
				age_type = "maior ou igual a"
				break;
			case '3':
				age_type = "menor que"
				break;
			case '4':
				age_type = "menor ou igual a"
				break;
		};
		return age_type;
	}

	function clean_filter_fields() {
		document.getElementById("age").value = "";
		document.getElementById("state").value = "";
		document.getElementById("job").value = "";
	}

	$("#clear_the_filter").click(function (){
		clear_the_filter();
	});

	function clear_the_filter() {
		ruby_query = []
		document.getElementById("age").value = "";
		document.getElementById("state").value = "";
		document.getElementById("job").value = "";
		document.getElementById("filter_result").innerHTML = ""
	}
</script>