<!DOCTYPE html>
<!-- saved from url=(0036)https://www.rdstation.com.br/contato -->
<html dir="ltr" lang="pt-BR"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>Contato | RD Station</title>

      <!-- Basic favicons -->
  <!-- IMPORTANT! Don't change the order of favicons... -->
  <link rel="shortcut icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-2ab345e3c97a1d23fc9c0bb34dfc5401.ico" sizes="16x16 32x32 48x48 64x64">
  <link rel="shortcut icon" type="image/x-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-2ab345e3c97a1d23fc9c0bb34dfc5401.ico">
  <!--[if IE]><link rel="shortcut icon" href="//d3ndvx6e67vt0s.cloudfront.net/assets/favicon-2ab345e3c97a1d23fc9c0bb34dfc5401.ico" /><![endif]-->
  <!-- For Opera Speed Dial -->
  <link rel="icon" type="image/png" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-195-dd8d4859244cdaf9175fd52dcae978fa.png" sizes="195x195">
  <!-- For iPad with high-resolution Retina Display running iOS ≥ 7 -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-152-f4fc78252233ea245d3f8c6043adcf4a.png" sizes="152x152">
  <!-- For iPad with high-resolution Retina Display running iOS ≤ 6 -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-144-4b07efb2df5a2f1581865964e52ff628.png" sizes="144x144">
  <!-- For iPhone with high-resolution Retina Display running iOS ≥ 7 -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-120-f90317e2637f5af38b04dfb658a8fafd.png" sizes="120x120">
  <!-- For iPhone with high-resolution Retina Display running iOS ≤ 6 -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-114-72f7d9e394b319782c369448f8c8ad90.png" sizes="114x114">
  <!-- For Google TV devices -->
  <link rel="icon" type="image/png" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-96-3161e65c739d0c7263c5c5c627909b7a.png" sizes="96x96">
  <!-- For iPad Mini -->
  <link rel="apple-touch-icon" type="image/png" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-76-8b8498e20c04730cc7acd408f6b05df3.png" sizes="76x76">
  <!-- For first- and second-generation iPad -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-72-20ce69f7f3d36b8358eae8c819068686.png" sizes="72x72">
  <!-- For non-Retina iPhone, iPod Touch and Android 2.1+ devices -->
  <link rel="apple-touch-icon" href="https://d3ndvx6e67vt0s.cloudfront.net/assets/favicon-57-4f99cc19372636bac9a1194eb585c3dd.png">
  <!-- Windows 8 Tiles -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="assets/favicon-144.png">



  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" media="screen" href="./Contato _ RD Station_files/site-64a319565a3262b02893e5f21441d33c.css">

  <!--[if lt IE 8]>
    <script src="//d3ndvx6e67vt0s.cloudfront.net/assets/brand-font/ie7/ie7-f28e25ef473bf11454eddd8c47a9d305.js"></script>
    <link rel="stylesheet" media="screen" href="//d3ndvx6e67vt0s.cloudfront.net/assets/brand-font/ie7/ie7-185fd4213511e269b4c2121a5296420a.css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="//d3ndvx6e67vt0s.cloudfront.net/assets/site/respond.min-ae92e373e1dcb0dd59cd5932850bf0f7.js"></script>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<!-- <style type="text/css"></style><script async="true" type="text/javascript" src="https://s.adroll.com/j/roundtrip.js"></script> -->
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="http://resultadosdigitais.com.br/"><span class="logoicon-resultados">Resultados </span><span class="logoicon-digitais">Digitais</span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="https://www.rdstation.com.br/contato#" id="drop1" role="button" class="dropdown-toggle" data-toggle="dropdown">Conteúdo<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/materiais-educativos/">Materiais Educativos</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/blog">Blog</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://cursos.resultadosdigitais.com.br/">Cursos Online</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a href="https://www.rdstation.com.br/contato#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Software<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.rdstation.com.br/">RD Station</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.rdstation.com.br/implementacao">Implementação</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="https://www.rdstation.com.br/contato#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Parceria<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/parceria/">Programa</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/niveisdeparceria/">Níveis de Parceria</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/consultoria-parceiros">Consultoria Engage</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://agenciasderesultados.resultadosdigitais.com.br/" title="Agências de Resultado" target="_blank">Blog</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://marketplace.resultadosdigitais.com.br/" title="Marketplace Resultados Digitais" target="_blank">Marketplace</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="https://www.rdstation.com.br/contato#" id="drop4" role="button" class="dropdown-toggle" data-toggle="dropdown">Sobre<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/sobre">A empresa</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/trabalhe-conosco">Trabalhe Conosco</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="http://resultadosdigitais.com.br/contato">Contato</a></li>
            </ul>
          </li>
          <li><a href="http://resultadosdigitais.com.br/eventos/" title="Eventos">Eventos</a></li>
        </ul>
        <a class="btn btn-default navbar-btn navbar-right" href="https://www.rdstation.com.br/aplicacao">Login</a>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <a class="logo bg-dark" href="https://www.rdstation.com.br/"><span class="logoicon-rd-station">RDStation</span></a>
        </div>
        <div class="col-sm-12 col-md-8">
          <ul class="nav nav-pills navbar-right">
            <li class=""><a href="https://www.rdstation.com.br/funcionalidades">Funcionalidades</a></li>
            <li class=""><a href="https://www.rdstation.com.br/precos">Planos e Preços</a></li>
            <li><a href="http://pages.rdstation.com.br/teste-gratuito-do-rd-station">Teste Grátis</a></li>
            <li><a href="http://blog.rdstation.com.br/estudos-de-caso/">Estudos de caso</a></li>
            <li><a href="http://blog.rdstation.com.br/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  
<section class="brown light" style="padding-bottom:15px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Registro</h1>
      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>Se cadastre para fazer parte da mail list da Resultado Digitais.</p>
      </div>
      <div class="col-xs-7 col-md-offset-1">
        
        <%= form_for :contact, url: contacts_path do |c| %>
        <% if @contact.errors.any? %>
          <div class="alert alert-danger">
            <% @contact.errors.full_messages.each do |ea| %>
              <li><%= ea %></li>
            <% end %>
          </div>
        <% end %>
        <div style="display:none;" class="alert alert-success thankyou-msg">
          Sua mensagem foi enviada com sucesso. Obrigado.
        </div>
          <div class="form-group">
            <strong><%= c.label :nome %>*</strong>
            <%= c.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <strong><%= c.label :email %>*</strong>
            <%= c.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <strong><%= c.label :idade %>*</strong>
            <%= c.text_field :age, class: "form-control" %>
          </div>

          <div class="form-group">
            <strong><%= c.label :estado %>*</strong>
            <%= c.text_field :state, class: "form-control" %>
          </div>

          <div class="form-group">
            <strong><%= c.label :cargo %>*</strong>
            <%= c.text_field :job, class: "form-control" %>
          </div>

          <%= c.submit "Enviar", class: "btn btn-primary btn-lg send" %>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="logo bg-dark">
            <a href="http://resultadosdigitais.com.br/home"><span class="logoicon-resultados">Resultados</span><span class="logoicon-digitais">Digitais</span></a>
            <small>A Resultados Digitais é uma empresa especializada em Marketing Digital de resultados.</small>
          </h3>
          <p>Por meio do software RD Station, de uma metodologia própria e serviços de consultoria complementares, ajudamos nossos clientes a gerar mais resultados em tráfego, geração de Leads e vendas para seus negócios, além de construir um sólido ativo de Marketing Digital.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h3>Conteúdo</h3>
          <ul class="footer-links">
            <li><a href="http://resultadosdigitais.com.br/blog">Blog</a></li>
            <li><a href="http://resultadosdigitais.com.br/materiais-educativos">Materiais Educativos</a></li>
            <li><a href="http://cursos.resultadosdigitais.com.br/">Cursos Online</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3>Software</h3>
          <ul class="footer-links">
            <li><a href="https://www.rdstation.com.br/">Home</a></li>
            <li><a href="https://www.rdstation.com.br/consultoria">Consultoria</a></li>
            <li><a href="https://www.rdstation.com.br/funcionalidades">Funcionalidades</a></li>
            <li><a href="https://www.rdstation.com.br/precos">Planos e Preços</a></li>
            <li><a href="http://blog.rdstation.com.br/estudos-de-caso/">Estudos de caso</a></li>
            <li><a href="http://blog.rdstation.com.br/">Blog</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3>Parceria</h3>
          <ul class="footer-links">
            <li><a href="http://resultadosdigitais.com.br/parceria">Programa</a></li>
            <li><a href="http://resultadosdigitais.com.br/niveisdeparceria">Níveis de Parceria</a></li>
            <li><a href="http://resultadosdigitais.com.br/consultoria-parceiros">Consultoria Engage</a></li>
            <li><a href="http://agenciasderesultados.resultadosdigitais.com.br/" title="Agências de Resultado" target="_blank">Blog</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3>Sobre</h3>
          <ul class="footer-links">
            <li><a href="http://resultadosdigitais.com.br/sobre">A empresa</a></li>
            <li><a href="http://resultadosdigitais.com.br/trabalhe-conosco">Trabalhe conosco</a></li>
            <li><a href="http://resultadosdigitais.com.br/contato">Contato</a></li>
          </ul>
        </div>
      </div>
      <p>Copyright © 2015 Resultados Digitais. <a href="http://resultadosdigitais.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a>.</p>
    </div>
  </footer>
</body>
</html>
